:root{
--primary-color:rgb(180, 165, 165);
--secondary-color:rgb(0,0,1);
color:var(--secondary-color);
    background-color:var(--primary-color) ;
    
}

body{
    background-color: var(--primary-color) !important;
}
.app{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
   grid-column-gap:150px;
   grid-row-gap:20px;
}

.container0 {
    margin:50px;
    text-align:center;
}

.task-input{
    padding:10px;
    border-radius: 15px;
    color:var(--primary-color);
    font-size:18px;
    width: 400px;
    border:0px var(--primary-color);
    border-width: 0px;
}

.save-icon{
    
    color:green;
}

.save-icon:hover{
   transform:scale(1.3);
}
.search-icon{
    position:relative;
    top:10px;
    right:35px;
    color:red;
}

.search-icon:hover{
   transform:scale(1.3);
}

.searchbar{
    text-align:center;
    margin:10px auto 10px auto;
}

.searchbar input{
    padding:5px 10px 5px 10px;
    width:300px;
    border:1px solid;

    border-radius:5px;
}

.container1 {
grid-auto-rows: 150px;
color:var(--secondary-color);
}

.container2 {
    grid-auto-rows: auto;
 
}

.incomp-task{
    height: auto;
    padding:15px;
    border:3px solid gray;
    border-radius:15px;
    
}

.comp-task {
    height: auto;
    padding: 15px;
    border: 3px solid gray;
    border-radius: 15px;
        display:inline-block;
}

.comp-icon{

    margin-left: 25px;

    color:rgb(228, 214, 21);
}

.comp-icon:hover{
    transform:scale(1.3);
}
.del-icon:hover {
    transform: scale(1.3);
    color:red;
}
.del-icon {
    display: inline-block;
color:rgb(218, 75, 187);
margin-left: 25px;
}

hr{
    padding:1px;
    background-color:grey;
    border:0px;
}


.error{
    text-align:center;
    padding:6px;
    background-color:black;
    color:red;
    margin-left:auto;
    margin-right:auto;
    width:200px;
    border-radius:6px;

}

@media only screen and (max-width: 768px) {
.container0 {
    margin: 5px;
    text-align: center;
}
.save-icon {
    display: inline-block;
 margin-left:150px;
margin-bottom: 25px;
   
}
    
}